*{margin:0; padding: 0; box-sizing: border-box;}


header{background:#7016cb; padding-top:20%; position: relative; display: block; height:100vh; width:97vw;}
header h1{width:50%; margin:2%; z-index:2; position: absolute; top: 10%; left: 2%; font-size: 22pt; text-transform: uppercase; line-height: 33pt; letter-spacing:-0pt; color:#fff;}
header img{width:100%;z-index: 5;}

main {margin:0 auto; width: 90%;}
main h2{text-align: center; text-transform: uppercase; font-size:14pt;}
main p{margin-bottom:5%;}

#slide {
    position: absolute;
    right: -600px;
    width: 100%;
    height: auto;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}

.element {
    animation-name: blend;
    animation-duration: 10s;
    animation-delay: 2.5s;
  }
  
  @keyframes blend {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.package{background:#f4f4f4; width: 30%; margin: 0.5%; display: inline-block; border-radius: 7pt; vertical-align: top;}
.package h3{padding:15% 5%; margin: 0; border-radius: 7pt 7pt 0 0; background-color: #000; text-align: center; font-size: 12pt; color: #fff; text-transform: uppercase; letter-spacing: 0pt;}
.package ul{padding:10% 5%; margin: 0; list-style: none;}
.package ul li{padding:5% 0; margin:0; border-bottom: 1px #999 solid; text-align: center;}
.package ul li:last-child{padding:5% 0; margin:0; border-bottom:none; text-align: center;}
.package button{padding:5%; margin: 0; width:100%; font-size:10pt; font-weight:bold; letter-spacing: -0pt; color: #fff; background-color: #000; border-radius: 0 0 7pt 7pt; border:0;}
.package button:hover{background-color: tomato;}











